<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.trhs.classify"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>ThunderRidge High Info</name>

    <description>
       All The information you will need to have a good time at ThunderRidge High School! 
    </description>

    <author href="https://classifystudios.com" email="contact@classifystudios.com">
        Classify Studios 
    </author>

</widget>

<preference name="webviewbounce" value="false" />

<preference name="prerendered-icon" value="true" />

<access origin="*" />